* {
    box-sizing: border-box;
}

body {
    font-family: arial, sans-serif;
    margin: 40px;
}

header  {
    text-align: center;
    color: #21559B;
    font-weight: bold;
}

.list {
    color: #21559B;
    font-weight: bold;
}

input {
    height: 50px;
    display: block;
    margin: 20px;
    padding: 20px;
    color: #21559B;
    font-weight: bold;
}

label {
    color: #21559B;
    font-weight: bold;
    margin: 20px;
}

h1 {
    height: 40px;
    color: #21559B;
    font-weight: bold;
    margin: 20px;
}

li {
    height: 20px;
    color: #21559B;
    font-weight: bold;
}

@media screen and (min-width: 500px){
    .item {
        height: 400px;
    }
}

@media screen and (max-width: 1220px){
    .item {
        width: 100%;
        margin: 2px 0;
    }
}